<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Webservice03_rest</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>jersey-servlet</servlet-name>
<!-- logical name of the servlet -->
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<!-- fully qualified class name -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.jpm.rest.controller</param-value>
		</init-param>
<!-- initialization parameter for the ServletContainer class/servlet -->
		<load-on-startup>1</load-on-startup>
<!-- loading sequence of the servlet -->
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
<!-- logical name of the servlet -->
		<url-pattern>/rest/*</url-pattern>
<!-- published name of the servlet 
eg: http://localhost:8080/rest/add
 http://localhost:8080/rest/add/new
  http://localhost:8080/rest/1-->
	</servlet-mapping>
</web-app>






